.title {
  margin: 4rem 0;
  text-align: center;
  background: -webkit-linear-gradient(
    93deg,
    rgba(255, 255, 255, 0.89) 0%,
    rgba(123, 82, 185, 0.9725490196) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.favoritocontenedor {
  display: flex;
  margin-bottom: 14rem;
  .misFavoritos {
    width: 43%;

    .containerFavoritos {
      .cuadradoFav {
        width: 60%;
        margin-bottom: 5rem;
        position: relative;

        .borrar {
          position: absolute;
          top: 2%;
          right: 3%;
          border: none;
          background-color: transparent;

          .estrella {
            color: #fff;

            &:hover {
              cursor: pointer;
              color: #7b52b9;
            }
          }
        }

        .name {
          margin-top: 0;
        }

        .fuenteA {
          color: white;
          text-decoration: none;
        }
        
        .btn {
          padding: 0.5rem 1rem;
          border: 1px solid transparent;
          background-color: rgb(123, 2, 153);
          color: #fff;
          border-radius: 0.25rem;
          margin-right: 3.7rem;
          transform: skew(-21deg);
          width: 8rem;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: #7b52b9;
            cursor: pointer;
          }
        }

        
        .btn.seleccionado {
          background-color: rgb(56, 0, 70);
        }
      }
    }
  }
}

.visualizacion {
  width: 57%;

  .h3Visu {
    margin: 0;
  }

  .datos {
    width: 98%;
    color: rgba(208, 208, 216, 0.945);
  }

  .numeros {
    letter-spacing: 1rem;
    color: rgba(208, 208, 216, 0.945);
  }
}

.sinFavoritos {
  height: 66vh;
  text-align: center;

  .title {
    margin-top: 3rem;
  }

  .enlace {
    text-decoration: none;
    cursor: pointer;
    color: #7b52b9;
  }
}

@media screen and (max-width: 1890px) {
  .favoritocontenedor .misFavoritos .containerFavoritos .cuadradoFav {
    width: 70%;

    .btn {
      margin-right: 2.7rem;
    }
  }
}

@media screen and (max-width: 1676px) {
  .favoritocontenedor .misFavoritos .containerFavoritos .cuadradoFav {
    width: 100%;

    .borrar {
      right: 32%;
    }
  }
}

@media screen and (max-width: 1536px) {
  .containerFavoritos {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1250px) {
  .favoritocontenedor .misFavoritos .containerFavoritos {
    margin-left: 1rem;
    .cuadradoFav {
      .borrar {
        right: 15%;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .favoritocontenedor {
    flex-direction: column-reverse;
    align-items: center;

    .visualizacion {
      width: 75%;
      margin-bottom: 5rem;
    }

    .misFavoritos {
      width: 75%;
    }
  }
}

@media screen and (max-width: 670px) {
  .favoritocontenedor {
    .visualizacion {
      width: 92%;
    }

    .misFavoritos {
      width: 92%;
    }
  }
}

@media screen and (max-width: 490px) {
  .favoritocontenedor {
    .visualizacion {
      width: 100%;
    }

    .misFavoritos {
      width: 100%;

      .containerFavoritos {
        margin: 0;

        .cuadradoFav {
          .btn {
            margin-right: 1rem;
          }
          .borrar {
            right: 5%;
          }
        }
      }
    }
  }
}
